---
# Load variables, establish facts
- name: Load NixOS-specific configuration file
  ansible.builtin.include_vars:
    file: "../../group_vars/nixos_vms.yaml"
- name: Load system-specific configuration file
  ansible.builtin.include_vars:
    file: "../../host_vars/{{ vm_file }}.yaml"

# Update remote NixOS VM
- name: Set facts for delegate connection # We need to do this so that we can use hostvars with this, for the SSH tasks to actually work...
  ansible.builtin.set_fact:
    delegate_ssh_key_file: "{{ ssh_key_private.dest }}"
- name: Run nixos-rebuild
  vars:
    ansible_user: "{{ nixos_username }}"
    ansible_connection: ssh # Make sure that your ansible-playbook command has --ask-become-pass
    ansible_ssh_private_key_file: "{{ hostvars[inventory_hostname]['delegate_ssh_key_file'] }}"
  delegate_facts: true
  delegate_to: "{{ ip_addr }}"
  ansible.builtin.command: |
    nixos-rebuild switch --flake {{ nixos_flake_repo }}?ref={{ nixos_flake_repo_branch }}#{{ nixos_config_name }}
