---
- name: Update NixOS-based virtual machines
  hosts: localhost
  connection: local
  vars_files:
    - ../../secrets/ansible.yaml
  tasks:
    - name: Set initial list of VMs to process
      ansible.builtin.set_fact:
        vm_list: "{{ groups['nixos_hosts'] }}"
    - name: Set final list of VMs to process
      ansible.builtin.set_fact:
        final_vm_list: >-
          {{
            [target_vm_name]
            if target_vm_name is defined
            else vm_list
          }}
    - name: Create temporary directory for the SSH key from the vault
      ansible.builtin.tempfile:
        state: directory
        prefix: ansible-ssh-
      register: ssh_key_directory # To refer to this, use "ssh_key_directory.path"
    - name: Write temporary file for the SSH public key from the vault
      ansible.builtin.copy: # NOTE: These steps assume ed25519 as the algorithm
        content: "{{ vault_ssh_key_public }}"
        dest: "{{ ssh_key_directory.path }}/id_ed25519.pub"
        mode: "0600"
      register: ssh_key_public # To refer to this, use "ssh_key_public.dest"
    - name: Write temporary file for the SSH private key from the vault
      ansible.builtin.copy:
        content: "{{ vault_ssh_key_private }}"
        dest: "{{ ssh_key_directory.path }}/id_ed25519"
        mode: "0600"
      register: ssh_key_private # To refer to this, use "ssh_key_private.dest"
    - name: Load NixOS-specific configuration file
      ansible.builtin.include_vars:
        file: "../../group_vars/nixos_vms.yaml"
    - name: Update each VPS # This is the main guts of our logic here
      include_tasks: internal-loop.yaml
      loop: "{{ final_vm_list }}"
      loop_control:
        loop_var: vm_file
