tmp-**
collections
galaxy_cache
galaxy_token
ansible_venv
saphnet-nixos-configs

.env
.env.*
**/.env
**/*.env
**/.env.*

# Logs
*.log

# OS & IDE specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Artifacts, temporary files
*.tar
*.gz
*.zip
tmp/
temp/