ansible==13.6.0
ansible-core==2.20.5
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
idna==3.14
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
proxmoxer==2.3.0
pycparser==3.0
PyYAML==6.0.3
requests==2.34.0
resolvelib==1.2.1
urllib3==2.6.3