---
# Docker host on node pve3
# Config-specific
secrets_files:
  - docker-host-pve3

# Hypervisor-specific
proxmox_host: pve3.int-net.saphnet.xyz
proxmox_host_port: 8006
proxmox_node: pve3
vm_id: 111
vm_name: docker-host-pve3
vm_description: Docker host on node pve3
mac_addr: BC:24:11:A6:A7:1D
ip_addr: 192.168.8.232
ip_addr_range: 24
ip_gateway: 192.168.8.1
ssh_port: 22
cpu_limit: 1 # For some reason, cpulimit is an integer?
# cpu_limit: 0.9 # We use all the cores, trying to let other processes be able to run if maxing out
cpu_cores: 8
ram_total: 16384 # Is in MiB
disk_size: 128 # Is in GiB
vm_storage: local-zfs
iso_storage: local
iso_directory: /var/lib/vz/template/iso # Matches "local"
uses_efi: true # Make sure GPU passthrough works right
uses_impermanence: true
uses_sopsnix: true
uses_cloudinit: true

vm_config:
  # Main
  tags: nixos

  # CPU
  cpu: host # Is only on single node, better to have all instructions available

  # PCI passthrough (for Intel Arc A310)
  hostpci:
    hostpci0: "mapping=arc-a310-gpu,pcie=1" # pcie=1, since 0 by default
    hostpci1: "mapping=arc-a310-audio,pcie=1"
  vga: std # qxl is SLOW for this setup

  # cloud-init
  citype: nocloud # "nocloud" for Linux, "configdrive2" for Windows

disks:
  - vmid: "{{ vm_id }}" # Main drive
    disk: scsi0
    storage: "{{ vm_storage }}"
    size: "{{ disk_size }}"
    mbps_rd: 375 # We use SATA SSDs, so we want to stick to 3Gbps to avoid hogging disk IO
    mbps_wr: 375

# System-specific
nixos_anywhere_build_remotely: true # Building remotely to avoid breaking PVE node with deluge of IO
nixos_config_name: "docker-host-pve3" # Make sure group_vars/nixos-vms.yaml is imported first
