name: ansible-lint
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
    paths-ignore:
      - '.github/**' # Avoid issues with Dependabot
      - 'docs/**'
      - 'prod-shell/**'
      - 'secrets/**'
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'docs/**'
      - 'prod-shell/**'
      - 'secrets/**'

jobs:
  lint:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25
        with:
          args: "--exclude secrets" # Prefer to not deal with vault secrets
